body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.shareImg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
    opacity: 0.6;
}

#logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
}